.aboutBgImg {
  position: absolute;
  left: 0;
  width: 100%;
  /* height: auto; */
  object-fit: cover;
  z-index: -1;
}
.aboutContentMainDiv {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.aboutName {
  margin: 0;
  font-family: "Playfair Display";
  font-size: 100px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: -0.015em;
  text-align: center;
  padding-top: 40px;
}
.aboutLinesMain {
  display: flex;
  flex-direction: column;
  margin-top: 220px;
}
.aboutLine1 {
  width: 250px;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.005em;
  text-align: left;
  margin: 0;
  padding-left: 250px;
}
.aboutLine2-div {
  width: 100%;
  display: flex;
  justify-content: right;
}
.aboutLine4-div {
  width: 100%;
  display: flex;
  justify-content: right;
}
.aboutLine2 {
  width: 200px;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.005em;
  text-align: left;
  margin: 0;
  padding-right: 200px;
  padding-bottom: 50px;
}

.aboutLine3 {
  display: flex;
  align-items: center;
  gap: 200px;
  margin: 0;
}
.aboutLine3-first {
  width: 230px;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.005em;
  text-align: right;
  margin: 0;
}
.aboutLine3-second {
  width: 230px;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.005em;
  text-align: left;
  margin: 0;
}
.aboutLine4 {
  width: 250px;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.005em;
  text-align: left;
  padding-right: 25px;
  padding-top: 10px;
  margin-bottom: 0;
}
.aboutLine5 {
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.005em;
  text-align: left;
  margin: 0;
  padding-left: 270px;
  padding-top: 10px;
}
@media only screen and (max-width: 1290px) {
  .aboutLinesMain {
    margin-top: 200px;
  }
  .aboutLine1 {
    padding-left: 160px;
  }

  .aboutLine2 {
    padding-bottom: 0;
    padding-right: 175px;
  }
  .aboutLine3 {
    gap: 180px;
  }
  .aboutName {
    padding-top: 25px;
    font-size: 80px;
  }
  .aboutLine5 {
    padding-left: 235px;
  }
  .aboutLine4 {
    margin: 0;
    padding-right: 25px;
  }
}
