.aboutBgImg {
  position: absolute;
  left: 0;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  z-index: -1;
}
.aboutContentMainDiv {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.aboutName {
  margin: 0;
  font-family: "Playfair Display";
  font-size: 100px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: -0.015em;
  text-align: center;
  padding-top: 40px;
}
.aboutLinesMain {
  display: flex;
  flex-direction: column;
  margin-top: 220px;
  align-items: center;
}
.aboutLine1-div {
  width: 100%;
  display: flex;
  justify-content: left;
}
.aboutLine1 {
  width: 250px;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.005em;
  text-align: left;
  margin: 0;
  padding-left: 250px;
}
.aboutLine2-div {
  width: 100%;
  display: flex;
  justify-content: right;
}
.aboutLine4-div {
  width: 100%;
  display: flex;
  justify-content: right;
}
.aboutLine2 {
  width: 200px;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.005em;
  text-align: left;
  margin: 0;
  padding-right: 200px;
  padding-bottom: 50px;
}

.aboutLine3 {
  display: flex;
  align-items: center;
  gap: 200px;
  margin: 0;
}
.aboutLine3-first-div,
.aboutLine3-second-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutLine3-first {
  width: 230px;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.005em;
  text-align: right;
  margin: 0;
}
.aboutLine3-second {
  width: 230px;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.005em;
  text-align: left;
  margin: 0;
}
.aboutLine4 {
  width: 250px;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.005em;
  text-align: left;
  padding-right: 25px;
  padding-top: 10px;
  margin-bottom: 0;
}
.aboutLine5-div {
  width: 100%;
  display: flex;
  justify-content: left;
}
.aboutLine5 {
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.005em;
  text-align: left;
  margin: 0;
  padding-left: 270px;
  padding-top: 10px;
}
.codingSpreesImg,
.resumeImg {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100px;
}
.underlineText,
.underlineText1,
.underlineText2,
.underlineText3 {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.underlineText3 img,
.meImg,
.quatroImg,
.codingSpreesImg {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  /* max-width: 130px; */
}
.underlineText1 img {
  bottom: -2px;
}
.underlineText2 img {
  bottom: -15px;
  /* max-width: 80px; */
}
.underlineText3 img {
  bottom: -12px;
  max-width: 100px;
}
.hoverImg {
  position: absolute;
  /* width: 900px; */
  height: auto;
  /* max-height: 200px; */
  visibility: hidden;
  z-index: 1;
  left: -130px;
  top: -100px;
}
.hoverImg2 {
  position: absolute;
  height: auto;
  visibility: hidden;
  z-index: 1;
  left: 0;
  top: 0px;
}
.hoverImg3 {
  position: absolute;
  height: auto;
  visibility: hidden;
  z-index: 1;
  left: 0;
  top: -80px;
}

.underlineText:hover .hoverImg,
.underlineText1:hover .hoverImg2,
.underlineText2:hover .hoverImg3 {
  visibility: visible;
}
.underlineText:hover img,
.underlineText1:hover img,
.underlineText2:hover img {
  visibility: hidden;
}
.aboutPhn {
  display: none;
}
@media only screen and (max-width: 1290px) {
  .aboutLinesMain {
    margin-top: 200px;
  }
  .aboutLine1 {
    padding-left: 160px;
  }
  .aboutLine2 {
    padding-bottom: 0;
    padding-right: 175px;
  }
  .aboutLine3 {
    gap: 180px;
  }
  .aboutName {
    padding-top: 25px;
    font-size: 80px;
  }
  .aboutLine5 {
    padding-left: 235px;
  }
  .aboutLine4 {
    margin: 0;
    padding-right: 25px;
  }
}

@media only screen and (max-width: 760px) {
  .aboutdesktop {
    display: none;
  }
  .aboutPhn {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    position: relative;
  }
  .aboutBgImg {
    position: absolute;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    height: auto;
  }
  .aboutphnLaiba {
    font-family: "Playfair Display";
    font-size: 64px;
    font-weight: 700;
    line-height: 53.56px;
    letter-spacing: -0.015em;
    text-align: left;
    margin-top: 120px;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
  }
  .aboutPhnHI {
    font-family: "Roboto Slab";
    font-size: 20px;
    font-weight: 500;
    line-height: 26.38px;
    letter-spacing: -0.005em;
    text-align: left;
    margin: 0;
  }
  .aboutPhnHI span {
    color: white;
  }
  .viwResumeBtn {
    width: 100%;
    height: 51px;
    top: 1102px;
    left: 31px;
    padding: 7px 10px;
    gap: 10px;
    border-radius: 10px;
    border: 4px;
    background: rgba(194, 128, 190, 1);
    border: 4px solid rgba(171, 103, 167, 1);
    box-shadow: 3px 3px 0px 0px rgba(151, 72, 147, 1);
    font-family: "Roboto Slab";
    font-size: 20px;
    font-weight: 500;
    line-height: 26.38px;
    letter-spacing: -0.005em;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 0 auto;
  }
}
