.marquee {
  position: relative;
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  z-index: 2;
  display: flex;
  border: 3px solid rgba(218, 183, 216, 1);
  border-radius: 40px;
}

.marquee__inner {
  padding-top: 12px;
  animation: marquee 30s linear infinite;
  display: flex;
  justify-content: space-evenly;
}

.marquee__item {
  display: inline-block;
  padding: 0 2rem;
  width: 10%;
  font-family: "Roboto Slab";
  font-size: 48px;
  font-weight: 500;
  line-height: 63px;
  letter-spacing: -0.005em;
  text-align: left;
  color: rgba(218, 183, 216, 1);
}
.marquee__image {
  color: rgba(218, 183, 216, 1);
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media (max-width: 480px) {
  .marquee__item {
    font-size: 26px;
  }
  .marquee {
    height: 60px;
  }
  .marquee__image {
    margin-top: 5px;
  }
  .marquee__inner {
    padding-top: 0px;
    animation: marquee 30s linear infinite;
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .marquee__item {
    font-size: 26px;
  }
  .marquee {
    height: 50px;
  }
  .marquee__image {
    margin-top: 5px;
  }
  .black-bar {
    transform: rotate(-5deg);
    height: 50px;
  }
  .marquee__item {
    font-size: 26px;
  }
  .marquee {
    height: 50px;
  }
  .marquee__image {
    margin-top: 5px;
  }
}
