.marquee {
  position: relative;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  z-index: 2;
  display: flex;
  border: 3px solid rgba(218, 183, 216, 1);
  border-radius: 40px;
  box-sizing: border-box; /* Ensure padding is included in the total width/height */
}

.marquee__inner {
  display: flex;
  justify-content: space-evenly;
}

.marquee__item {
  display: inline-block;
  padding: 0 2rem;
  font-family: "Roboto Slab";
  font-size: 48px;
  font-weight: 500;
  line-height: 63px;
  letter-spacing: -0.005em;
  text-align: left;
  color: rgba(218, 183, 216, 1);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 480px) {
  .marquee__item {
    font-size: 26px;
    padding: 0 1rem;
  }
  .marquee {
    height: auto; /* Make it responsive */
    width: 100%;
  }
  .marquee__image {
    margin-top: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .marquee__item {
    font-size: 26px;
    padding: 0 1rem;
  }
  .marquee {
    height: auto; /* Make it responsive */
    width: 100%;
  }

  .marquee__image {
    margin-top: 5px;
  }
}
